server:
  port: 7661

spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/PgData
    username: postgres
    password: Postgresql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
